<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment - System</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="form-section">
        <form action="" method="post">
            <div class="student-form__container">
                <h2>Add Student Here!</h2>
                <div class="student-form__wrapper">
                    <label for="FirstName">FirstName</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="MiddleName">MiddleName</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="LastName">LastName</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Age">Age</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Gender">Gender</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Address">Address</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Birthday">Birthday</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="BirthPlace">BirthPlace</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Status">Status</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Nationality">Nationality</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Religion">Religion</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="MobileNumber">MobileNumber</label>
                    <input type="text">
                </div>
                <div class="student-form__wrapper">
                    <label for="Email">Email</label>
                    <input type="text">
                </div>
                <button class="submit-btn">Submit</button>
            </div>
        </form>
    </section>
</body>
</html>